<h1 class="text-center text-success">Users list</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="media-list">
      <% @users.each do |user| %>
        <li class="media">
          <%= link_to show_user_path(user), class: 'pull-left' do %>
            <%= image_tag 'udef.png' %>
          <% end %>
          <div class="media-body">
            <h4 class="media-heading">
              <%= user.fullname %>
            </h4>
            <%= user.email %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
