<%= javascript_include_tag 'test' %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @text %>
  </div>
  <div class="panel-body">
    <div class="well">
      <div class="btn btn-default click-me">
        <i class="fa fa-google">&nbsp;Google</i>
      </div>
    </div>
  </div>
  <div class="panel-footer">My name</div>
</div>
